<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Device tracker</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favion.png') }}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap-5.3.8/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/material-design-icons-master/css/material-icons.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

</head>
<body>
    {# see https://codepen.io/rasaf-ibrahim/pen/gOmzPZe #}
    <div class="min-vh-100 d-flex flex-column justify-content-between">
        <div>
            <header><!-- start header -->

                
                <nav class="navbar navbar-expand-lg pinky">
                    <div class="container" style="align-items: flex-end">
                        <a class="navbar-brand me-5" href="{{ url_for('index') }}">
                            <img class="rounded" src="{{ url_for('static', filename='images/logbook_logo2_white.png') }}" alt="Logo" height="65">
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                            
                            
    

                            
                            
                            
                            <ul class="navbar-nav me-auto">
                                
<!--
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('selecttab', subclass='polly') }}">DT TAB</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('selectvis', class='sunphotometer') }}">DT Vis</a>
                                </li>
-->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        API
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="{{ url_for('select', subclass='polly') }}">JSON</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('selectvis', class='sunphotometer') }}">SVG</a></li>
                                        <li><a class="dropdown-item" href="{{ url_for('selecttab', subclass='polly') }}">TAB</a></li>

                                    </ul>
                                </li>
                                
                                {% if html_status_dict %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Instruments
                                            </a>
                                            {% if html_status_dict.allowed_logbooks.devices %}
                                                <div class="dropdown-menu p-4 rounded-3 border-0 shadow text-small">
                                                    <div class="row">
                                                        {% for device_type in html_status_dict.allowed_logbooks.devices %}
                                                            <div class="col">
                                                                <b class="nav-link bg-secondary mb-3 fw-bold rounded" href="#" role="button">
                                                                    <i class="material-icons">workspaces</i> {{ device_type }}
                                                                </b>
                                                                <ul class="list-group mb-2">
                                                                    {% for device in html_status_dict.allowed_logbooks.devices[device_type] %}
                                                                        <li class="list-group-item"><a  href='show_logbook?logbook_name={{device}}'>{{ device }}</a></li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </li>
                                        
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Sites
                                            </a>
                                            {% if html_status_dict.allowed_logbooks.sites %}
                                                <div class="dropdown-menu p-3 rounded-3 border-0 shadow">
                                                    <div class="row">
                                                        <div class="col">
                                                            <b class="nav-link bg-secondary mb-3 fw-bold rounded" href="#" role="button">
                                                                <i class="material-icons">location_on</i> Sites
                                                            </b>
                                                            <ul class="list-group">
                                                                {% for site in html_status_dict.allowed_logbooks.sites %}
                                                                    <li class="list-group-item" ><a href='show_logbook?logbook_name={{site}}'>{{ site }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                        
                                            {% endif %}
                                        </li>
                                        
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Campaigns
                                            </a>
                                            {% if html_status_dict.allowed_logbooks.sites %}
                                                <div class="dropdown-menu p-3 rounded-3 border-0 shadow">
                                                    <div class="row">
                                                        <div class="col">
                                                            <b class="nav-link bg-secondary mb-3 fw-bold rounded" href="#" role="button">
                                                                <i class="material-icons">campaign</i> Campaign
                                                            </b>
                                                            <ul class="list-group">
                                                                {% for campaign in html_status_dict.allowed_logbooks.campaigns %}
                                                                    <li class="list-group-item" ><a href='show_logbook?logbook_name={{campaign}}'>{{ campaign }}</a></li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </li>
                                        {% if html_status_dict.user == "admin@tropos.de"%}
                                            <li class="nav-item dropdown">
                                                <div class="pt-2">
                                                    <a class="text-white" href='complete_logbook?logbook_name=single_logbook'>Complete logbook <sup><span class="badge text-bg-light"><abbr title="admin feature">admin</abbr></span></sup></a>
                                                    <a class="text-white" href='show_reminder_overview'>Alert reminder<sup><span class="badge text-bg-light"><abbr title="admin feature">admin</abbr></span></sup></a>
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                            </ul>
                            
                            {% if user %}
                      
                                <div class="">
                                    
                                    <div class="input-group">
                                        {% if user.username == "admin" %}
                                            <a class="btn btn-secondary text-white" href="{{ url_for('register') }}" role="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Register new user"><i class="material-icons">plus_one</i></a>
                                            <a class="btn btn-secondary text-white" href="{{ url_for('add_device') }}" role="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Add new device"><i class="material-icons">add_box</i> Device</a>
                                        {% endif %}
                                        <a class="btn btn-secondary text-white" href="{{ url_for('add_history') }}" role="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Add new history"><i class="material-icons">add_box</i> History</a>
                                        <div class="btn btn-outline-secondary text-white" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Username"><i class="material-icons">account_box</i> {{user.username}}</div>
                                        <a class="btn btn-secondary text-white" href="{{ url_for('logout') }}" role="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Logout"><i class="material-icons">logout</i></a>
                                    </div>

                                </div>
                            
                            {% else %}
                                <div>
                                    <a class="btn btn-secondary text-white" href="{{ url_for('login') }}" role="button" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Login"><i class="material-icons">login</i></a>

                                </div>
                            {% endif %}
                            
                        </div>
                    </div>
                </nav>

            </header><!-- end header -->
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="container pt-2">
                    {% for message in messages %}
                        
                        <div class="alert alert-secondary" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            
            <main class="pb-5">
                {% block content %} {% endblock %}
            </main>
        </div>
        <footer class="footer pinky pt-1 sticky-bottom">
            <div class="container-fluid pt-0">
                <div class="row clearfixg text-small">
                    <div class="col py-1 text-center">
                        <a class="nav-tint-hover text-white" href="https://www.tropos.de/en/footer-navigation/imprint">Imprint / Contact</a>
                    </div>
                    <div class="col py-1 text-center">
                        <a class="nav-tint-hover text-white" href="dpd">Data Protection Declaration</a>
                    </div>
                </div>
            </div>
        </footer><!-- end footer -->
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script     src="{{ url_for('static', filename='lib/jquery/jquery-3.6.0.js') }}"></script>
    <script defer="defer" src="{{ url_for('static', filename='lib/popper/popper.min.js') }}"></script>
    <script defer="defer" src="{{ url_for('static', filename='lib/bootstrap-5.3.8/js/bootstrap.min.js') }}"></script>

    
    {% block javascript %} {% endblock %}
    
    <script>
    // Tooltip
    document.addEventListener('DOMContentLoaded', function () {
        // Wartet, bis der gesamte DOM-Inhalt geladen ist
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        // Wählt alle Elemente aus, die das Attribut 'data-bs-toggle="tooltip"' haben
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));
        // Erstellt für jedes dieser Elemente eine neue Bootstrap-Tooltip-Instanz
    });
    </script>
</body>
</html>
