{% extends 'base.html' %}
{% block content %}
{% from "_macro.html" import get_icon_is_mobile with context %}

<style>
/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid rgba(0,0,0,0.1);
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}



/* Override Bootstrap's placeholder styles */
.form-control::placeholder,
.form-select::placeholder,
textarea::placeholder,
input::placeholder {
  font-family: "Liberation Mono", monospace !important;
  font-size: 0.9em;
  color: blue !important;
  opacity: 0.4 !important;
}


</style>

    <div class="container">
        <div class="row py-3">
            <div class="col-12 border; ;rounded p-3">
                <h2>Show requested devices</h2>
            </div>    
            
            <div class="col-12 border rounded my-2 p-3" style="background-color:rgb(240,240,240)">
                <form method="get" action="{{ url_for('selecttab') }}" id="id_selector_form">
                    {%  include '_selectform.html'  %}
                </form>
            </div>
            
            
            
            <div class="col-12 border rounded my-2 p-3">
                
                <div class="d-flex flex-row-reverse p-3 pe-1">
                    <div class="input-group" style="width:300px">
                        <input class="form-control form-control-sm" type="text" id="searchText"placeholder="Search and filter table content ..">
                    </div>
                </div>
                
                
                <table class="table table-sm table-striped small" id="device_tracker_table_id">

                    <tbody>
                        {% for devicename, device_dict in devices.items() | sort(attribute='0')%}
                        {% set length_history = device_dict.history|length %}
                            <tr>
                                <td>
                                    <div class="card border-dark">
                                        <div class="card-header d-flex justify-content-between {{ "bg-info" if device_dict["metadata"]["is_platform"] else "" }}">
                                            <div class="bd-highlight">{{ "Platform" if device_dict["metadata"]["is_platform"] else "Device" }}</div>
                                            <div class="bd-highlight">
                                                {% if "class" in device_dict.metadata and device_dict.metadata.class[0] in user.class_edit_roles %}
                                                    <a href="{{url_for('add_device', device=devicename, requested_mode='edit')}}"><i class="material-icons">mode_edit</i></a>
                                                {% endif %}
                                                <span class="badge text-bg-secondary fs-6nnn">{{devicename}}</span>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <table class="table table-sm small">
                                                <tr>
                                                    <td>Class</td>
                                                    <td>
                                                    {% for class in device_dict.metadata.class %} {{ class }} 
                                                        {% if not loop.last %} 
                                                            &rarr;
                                                        {% endif %}
                                                    {% endfor %}
                                                    </td>
                                                </tr>
                                                {% if device_dict.metadata.device_manufacturer.name|length > 0 %}
                                                <tr>
                                                    <td>Manufacturer</td>
                                                    <td>{{device_dict.metadata.device_manufacturer.name}}</td>
                                                </tr>
                                                {% endif %}
                                                {% if device_dict.metadata.owner.name|length > 0 %}
                                                <tr>
                                                    <td>Owner</td>
                                                    <td>{{device_dict.metadata.owner.name}}</td>
                                                </tr>
                                                {% endif %}
                                            </table
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    {% for calibration in device_dict.calibration %}
                                        <div class="card border-dark">
                                            <div class="card-header">
                                                Calibration <span class="badge rounded-pill text-bg-info">{{ loop.index}}</span>
                                            </div>
                                          <div class="card-body">
                                            <table class="table table-sm small">
                                                <tr>
                                                    <td>valid period</td>
                                                    <td>
                                                        {% for my_date in calibration.calibration_valid_period %}
                                                            {{my_date[0:10]}}
                                                            {% if not loop.last %} &rarr; {% endif %}
                                                        {%endfor%}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>values</td>
                                                    <td>{{ calibration.calibration_values }}</td>
                                                </tr>
                                                <tr>
                                                    <td>method/reference</td>
                                                    <td>{{ calibration.calibration_used_method }} / {{ calibration.calibration_used_reference }}</td>
                                                </tr>

                                            </table>
                                          </div>
                                        </div>
                                    {% endfor %}
                                </td>
                                <td>
                                    <div class="card border-dark">
                                        <div class="card-header">
                                            History
                                        </div>
                                        <div class="card-body">
                                    
                                        <div class="divTable small">
                                            <div class="divTableBody">
                                            {% for history in device_dict.history| sort(attribute='startdate') %}
                                                <div class="divTableRow">
                                                    <div class="divTableCell"  style="width:8%">
                                                        {% if device_dict.metadata.class[0] in user.class_edit_roles %}
                                                            <a href="{{url_for('add_history', uuid=history.uuid, requested_mode='edit')}}"><i class="material-icons">mode_edit</i></a>
                                                        {%endif%}
                                                    </div>
                                                    <div class="divTableCell"  style="width:6%">
                                                        {% if history.location.is_mobile is defined %} 
                                                            {{ get_icon_is_mobile(history.location.is_mobile) }} 
                                                        {% endif %}
                                                    </div>
                                                    <div class="divTableCell"  style="width:37%">{{ history.startdate[0:10]}} &rarr; {{ history.stopdate[0:10]}}</div>
                                                    <div class="divTableCell"  style="width:27%">
                                                        {{ history.location.name}}  
                                                        <span class="badge rounded-pill text-bg-secondary">{{ history.location.country}}</span>
                                                    </div>
                                                    <div class="divTableCell"  style="width:29%"><abbr title="campaign">{{ history.campaign}}</abbr> <abbr class="text-primary" title="platform(s) hierarchical">{{ history.platform|join('&rarr;')|safe}}</abbr></div>
                                                </div>
                                            {% endfor %}
                                            </div>
                                        
                                        </div>
                                        
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                
            </div>
        </div>
        
    </div>
{% endblock %}

{% block javascript %} 
{%  include '_selectform.javascript'  %}
{% endblock %}
