{% extends 'base.html' %}
{% block content %}

<style>
/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

</style>

    <div class="container">
        <div class="row py-3">
            <div class="col-8 border; ;rounded p-3">
                <h2>Device tracker content</h2>
            </div>
            <div class="col-4 border rounded my-2 mx-0 px-0">
                {% if your_requests %}
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action bg-light">Your filtered request</li>
                        {% for key, value in your_requests.items() %}
                            <li class="list-group-item small">{{key}} <b>{{value}}</b></li>
                        {% endfor %}
                    </ul>                   
                {% endif %}
            </div>
            
            
            <div class="col-12 border rounded my-2 p-3">
                
                <div class="d-flex flex-row-reverse p-3">
                    <div class="input-group" style="width:300px">
                        <input class="form-control form-control-sm" type="text" id="searchText"placeholder="Search and filter table content ..">
                    </div>
                </div>
                
                
                <table class="table table-sm table-striped small" id="device_tracker_table_id">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Device</th>
                            <th scope="col">Class (hierarchical)</th>
                            <th scope="col">Calibration</th>
                            <th scope="col">History</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for devicename, device_dict in devices.items() | sort(attribute='0')%}
                        {% set length_history = device_dict.history|length %}
                            <tr>
                                <th>{{ devicename }}</th>
                                <td>
                                    {% for class in device_dict.metadata.class %} {{ class }} 
                                        {% if not loop.last %} 
                                            &rarr;
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    {% for calibration in device_dict.calibration %}
                                        <div class="card border-dark small ">
                                            <div class="card-header">
                                                Calibration <span class="badge rounded-pill text-bg-info">{{ loop.index}}</span>
                                            </div>
                                          <div class="card-body">
                                            <table class="table table-sm small">
                                                <tr>
                                                    <td>valid period</td>
                                                    <td>
                                                        {% for my_date in calibration.calibration_valid_period %}
                                                            {{my_date[0:10]}}
                                                            {% if not loop.last %} &rarr; {% endif %}
                                                        {%endfor%}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>values</td>
                                                    <td>{{ calibration.calibration_values }}</td>
                                                </tr>
                                                <tr>
                                                    <td>method/reference</td>
                                                    <td>{{ calibration.calibration_used_method }} / {{ calibration.calibration_used_reference }}</td>
                                                </tr>

                                            </table>
                                          </div>
                                        </div>
                                    {% endfor %}
                                </td>
                                <td>
                                    <div class="divTable small">
                                        <div class="divTableBody">
                                        {% for history in device_dict.history %}
                                            <div class="divTableRow">
                                                <div class="divTableCell"  style="width:40%">{{ history.startdate[0:10]}} &rarr; {{ history.stopdate[0:10]}}</div>
                                                <div class="divTableCell"  style="width:29%">
                                                    
                                                    {% if history.location.is_mobile is defined %} 
                                                        
                                                        <abbr title="is mobile?">{{ history.location.name}}
                                                            {% if history.location.is_mobile %} 
                                                                <i class="material-icons text-success">done</i>
                                                            {% else %}
                                                                <i class="material-icons text-danger">clear</i>
                                                            {% endif %}
                                                        </abbr>
                                                    {% else %}
                                                        {{ history.location.name}}  
                                                    {% endif %}
                                                    <sup><span class="badge rounded-pill text-bg-secondary">{{ history.location.country}}</span></sup>
                                                    
                                                </div>
                                                <div class="divTableCell"  style="width:29%">{{ history.campaign}}</div>
                                            </div>
                                        {% endfor %}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                
            </div>
        </div>
        
    </div>
{% endblock %}

{% block javascript %}    
    <script>
        //provide Searcable input field to search at table, source: https://codepen.io/f_taleh/pen/jwWVqW
        $(document).ready(function(){
            $("#searchText").keyup(function(){
                _this = this;
                  $.each($("#device_tracker_table_id tr"), function() {
                     if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1){
                         $(this).hide();
                       }else{
                         $(this).show();
                      }
                  });
            });
        });
    </script>

{% endblock %}



